header {
  height: 548px;
}
.header {
  width: 480px;
  text-align: left;
  margin: 0 auto;
}
.header__logo {
  text-align: center;
  display: block;
  margin-left: -15px;
}
.header__menu_list {
  position: absolute;
  z-index: 50;
  margin-left: 109px;
  margin-top: 18px;
  background: rgba(54, 41, 62, 0.9);
  border: 1px solid #051116;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s linear;
  width: 246px;
  height: 50px;
}
.header__menu_item {
  display: block;
  border-top: 1px solid #4f3d57;
  padding: 10px 0;
  text-align: center;
  height: 42px;
}
.header__menu_a {
  text-decoration: none;
  font-family: 'League Gothic', sans-serif;
  font-size: 24px;
  color: #fff;
  display: block;
}
.header__menu_list:hover {
  height: 259px;
}
.header__menu_item:hover {
  border-bottom: 2px solid #edbfff;
  background: rgba(38, 29, 43, 0.9);
}



/* SCROLL */
.header__scroll {
  position: relative;
  top: 90px;
  height: 246px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.header__scroll__width {
  width: 480px;
  margin: 0 auto;
}
.header__scroll:after {
 content: '';
 display: inline-block;
 width: 100%;
}
.header__scroll__left {
  margin-left: -11px;
  margin-top: 102px;
  vertical-align: top;
}

.header__info {
  position: absolute;
  display: inline-block;
  margin: 90px auto auto 19px;
  width: 273px;
  text-align: left;
}
.header__phone {
  display: inline-block;
  position: relative;
  top: -10px;
  margin-left: 231px;
}
.header__phone__iphone {
  width: 187px;
}
.header__phone__play {
  position: absolute;
  top: 106px;
  right: 42px;
  width: 52px;
}
.header__h1 {
 font-family: 'League Gothic', sans-serif;
 font-size: 36px;
 color: #fff;
 margin-left: -10px;
 font-weight: normal;
}
.header__h3 {
 font-family: 'League Gothic', sans-serif;
 font-size: 18px;
 font-weight: normal;
 color: #edbfff;
 margin-left: -11px;
 margin-top: -4px;
}
.header__h3__true {
  display: none;
}
.header__p {
  display: none;
}
.header__p__768 {
  display: none;
}
.header__scroll__right {
  vertical-align: top;
  text-align: right;
  margin-top: 102px;
}

/* slider navigation*/
.header__form {
margin-top: 112px;
}
.header__form input {
 display: none;
}
.header__form label {
 display: inline-block;
 height: 17px;
 width: 17px;
 border-radius: 50%;
 background: rgba(0, 0, 0, 0.3);
 cursor: pointer;
}
.header__form label:last-child {
 position: relative;
 left: -60px;
 top: -3px;
 height: 11px;
 width: 11px;
 background: url(../img/whitepoint.png) no-repeat;
 transition: all 0.2s ease-in-out;
}
.header__form #slide1:checked~label:last-child {
 left: -81px;
}
.header__form #slide2:checked~label:last-child {
 left: -60px;
}
.header__form #slide3:checked~label:last-child {
 left: -39px;
}
.header__form #slide4:checked~label:last-child {
 left: -18px;
}

/* ABOUT*/
.about {
 background: linear-gradient(to top, #36293e, #745183);
 margin-left: -11px;
 box-shadow: 1px 1px 10px;
 height: 598px;
}
.about__width {
  width: 480px;
  margin: 0 auto;
}
.about__company1,
.about__company2,
.about__company3 {
  display: block;
}
.about__company1 {
  margin-left: 27px;
  padding-top: 73px;
}
.about__company__sprajt {
  background: url(../img/sprajt.png)no-repeat;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.about__company__text {
  width: 380px;
  margin-left: 20px;
  margin-top: 1px;
  display: inline-block;
  text-align: left;
}
.about__company__text__h2 {
 font-size: 23px;
}
.about__company__text__p {
  font-size: 16px;
 line-height: 24px;
 margin-top: 3px;
 letter-spacing: -0.1px;
}
.about__company__text__a {
 font-size: 18px;
 display: block;
 margin-right: 10px;
 margin-top: 13px;
}
.about__company2 {
 margin-left: 28px;
 margin-top: 18px;
}
.about__company2__text__a {
  margin-right: 10px;
  margin-top: 13px;
}
.about__company3 {
  margin-left: 28px;
  margin-top: 22px;
}
.about__company3__text__a {
  margin-right: 11px;
  margin-top: 12px;
}
/* ARTICLE*/
article {
 background: #f6f6f6;
 height: 1019px;
 box-shadow: 1px 1px 10px;
}
.article {
  text-align: justify;
}
.article:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.main-posted {
  width: 480px;
  margin: 0 auto;
}
.main {
  display: block;
  margin-left: -7px;
  padding-top: 70px;
}
.main__img {
 position: absolute;
 display: inline-block;
 z-index: 10;
 vertical-align: top;
 margin-left: 18px;
 margin-top: 18px;
}
/* OTZUVU */
.main__otzuv {
  display: inline-block;
  z-index: 1;
  background: #fff;
  width: 418px;
  height: 271px;
  padding: 22px 26px 22px 35px;
  text-align: left;
  margin-left: 42px;
  position: relative;
}
.main__ygol {
  display: none;
}
.main__otzuv__h2-1 {
 display: inline-block;
 font-size: 30px;
 margin-left: 5px;
 margin-top: 1px;
}
.main__otzuv__h2-2 {
  display: inline-block;
  font-size: 30px;
}
.main__otzuv__p {
 font-size: 16px;
 padding-top: 12px;
 padding-left: 5px;
 letter-spacing: -.1px;
}

.article--form {
  margin-top: 25px;
  margin-left: 195px;
}
.article--form label {
  background: #fff;
  border: 1px solid #e7e7e7;
}
.article--form label:last-child {
  background: url(../img/black.png) no-repeat;
}
/* POSTS */
.posted {
  display: block;
  margin: 40px auto auto 71px;
  width: 342px;
}
.posted__h1 {
 font-family: 'League Gothic', sans-serif;
 font-size: 30px;
 color: #000;
 font-weight: normal;
 margin-left: 4px;
}
.posted__post1 {
  margin-top: -1px;
}
.posted__post1__img1 {
 margin-top: 13px;
 margin-left: 5px;
 display: inline-block;
}
.posted__post1__text{
 display: inline-block;
 vertical-align: top;
 margin-top: 13px;
 margin-left: 13px;
}
.posted__post1__text__span1 {
 font-family: 'Open Sans Extrabold';
}
.posted__post1__text__span2 {
 font-family: 'Open Sans Light', sans-serif;
 font-weight: normal;
 line-height: 27px;
 letter-spacing: -.1px;
}
.posted__post1__text__span3 {
display: none;
}
.posted__post2 {
 margin-top: 16px;
}
.posted__post2__img2 {
 margin-left: 5px;
}
.posted__post2__text2 {
 margin-left: 13px;
 margin-top: 0px;
}
.posted__post3 {
 margin-top: 13px;
}
.posted__post3__img3 {
 margin-left: 5px;
}
.posted__post3__text3 {
 margin-top: 0px;
}
.posted__h3 {
 font-size: 19px;
 margin-top: 13px;
}

.article__border {
 margin-top: 86px;
}

/* BRANDS */
.brands {
 width: 350px;
 margin: 0 auto;
 padding-top: 34px;
}
.brands__brand1 {
  margin-left: 16px;
}
.brands__brand2 {
  margin-left: 15px;
  margin-right: 10px;
}
.brands__brand3 {
  margin-right: 16px;
}
.brands__brand4 {
  margin-top: 12px;
  margin-left: -9px;
}

/* COMMENTS */
.comments__width {
  width: 480px;
  margin: 0 auto;
  height: 668px;
  padding-top: 76px;
}
.comments__div1,
.comments__div2,
.comments__div3,
.comments__div4,
.comments__div5 {
  display: block;
  width: 451px;
  padding-left: 10px;
}
.comments__div1 {
  display: none;
}
.comments__div2 {
  display: none;
}
.comments__div3__h3 {
  font-family: 'League Gothic', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #000;
  text-align: left;
}
.comments__div3__p {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  letter-spacing: -.1px;
}
.comments__div3__p__480 {
  display: none;
}
.comments__div4 {
  margin-top: 52px;
}
.comments__div5 {
  margin-top: 55px;
}

/* FOOTER */
.footer {
 height: 202px;
}
.footer__menu {
  width: 480px;
  margin: 0 auto;
}
.header__menu_list--footer {
  padding-top: 44px;
  width: 434px;
  margin-left: 14px;
  width: 435px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.header__menu_a--footer {
  font-size: 20px;
}
.footer__p {
  font-size: 12px;
  margin: 47px auto auto -8px;
  width: 480px;
  text-align: center;
 }
