header {
  height: 798px;
}
.header {
  width: 768px;
  text-align: left;
  margin: 0 auto;
}
.header__logo {
  text-align: left;
  margin-left: 20px;
  display: block;
}
.header__menu_list {
  display: inline-block;
  margin-left: 20px;
  margin-top: 27px;
}
.header__menu_item {
  list-style-type: none;
  display: inline-block;
}
.header__menu_a {
  text-decoration: none;
  font-family: 'League Gothic', sans-serif;
  font-size: 24px;
  color: #fff;
  display: inline;;
}
.header__menu_a:hover {
  border-bottom: 2px solid #edbfff;
}
.header__submenu_list {
  display: flex;
  position: absolute;
  top: 0px;
  left: 49px;
  height: 50px;
  list-style: none;
  background-color: rgba(68, 55, 75, 0);
}
.header__submenu_item {
  height: 50px;
  display: inline-block;
  text-shadow: 1px 1px 3px #000;
}
.header__submenu_item1 {
  width: 118px;
}
.header__submenu_item2 {
  width: 65px;
}
.header__submenu_item3 {
  width: 138px;
}
.header__submenu_item4 {
  width: 120px;
}
.header__submenu_item5 {
  width: 179px;
}
/* SCROLL */
.header__scroll {
  position: relative;
  top: 75px;
  height: 400px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.header__scroll__width {
  width: 768px;
  margin: 0 auto;
}
.header__scroll:after {
 content: '';
 display: inline-block;
 width: 100%;
}
.header__scroll__left {
  margin-left: -5px;
  margin-top: 179px;
}

.header__info {
 position: absolute;
 display: inline-block;
 margin: 90px auto auto 26px;
 width: 273px;
 text-align: left;
}
.header__phone {
 display: inline-block;
 position: absolute;
 top: -23px;
 right: 334px;
}
.header__phone__play {
  position: absolute;
  top: 150px;
  right: 61px;
}
.header__h1 {
 font-family: 'League Gothic', sans-serif;
 font-size: 50px;
 color: #fff;
 margin-left: -8px;
 letter-spacing: -0.8px;
 font-weight: normal;
}
.header__h3 {
 font-family: 'League Gothic', sans-serif;
 font-size: 24px;
 font-weight: normal;
 color: #edbfff;
 margin-left: -7px;
}
.header__h3__true {
  display: none;
}
.header__p {
  font-size: 16px;
  margin-top: 4px;
  margin-left: -8px;
  letter-spacing: -.1px;
  line-height: 27px;
}
.header__p__768 {
  display: none;
}
.header__scroll__right {
  position: absolute;
  right: 283px;
  top: 179px;
}

/* slider navigation*/
.header__form {
  position: relative;
  top: 112px;
  left: 829px;
}
.header__form input {
 display: none;
}
.header__form label {
 display: inline-block;
 height: 17px;
 width: 17px;
 border-radius: 50%;
 background: rgba(0, 0, 0, 0.3);
 cursor: pointer;
}
.header__form label:last-child {
 position: relative;
 left: -60px;
 top: -3px;
 height: 11px;
 width: 11px;
 background: url(../img/whitepoint.png) no-repeat;
 transition: all 0.2s ease-in-out;
}
.header__form #slide1:checked~label:last-child {
 left: -81px;
}
.header__form #slide2:checked~label:last-child {
 left: -60px;
}
.header__form #slide3:checked~label:last-child {
 left: -39px;
}
.header__form #slide4:checked~label:last-child {
 left: -18px;
}

/* ABOUT*/
.about {
 background: linear-gradient(to top, #36293e, #745183);
 margin-left: -5px;
 box-shadow: 1px 1px 10px;
 height: 340px;
}
.about__width {
  width: 768px;
  margin: 0 auto;
}
.about__company1,
.about__company2,
.about__company3 {
  display: inline-block;
  margin: 73px auto;
}
.about__company1 {
  margin-left: 27px;
}
.about__company__sprajt {
  background: url(../img/sprajt.png)no-repeat;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.about__company__text {
  width: 156px;
  margin-left: 20px;
  margin-top: 1px;
  display: inline-block;
  text-align: left;
}
.about__company__text__h2 {
 font-size: 23px;
}
.about__company__text__p {
 font-size: 16px;
 line-height: 24px;
 margin-top: 3px;
 letter-spacing: -0.1px;
}
.about__company__text__part2 {

}
.about__company__text__part2__768 {
  display: none;
}
.about__company__text__a {
 font-size: 18px;
 display: block;
 margin-right: 10px;
 margin-top: 4px;
}
.about__company2 {
 margin-left: 32px;
}
.about__company2__text__a {
  margin-right: 9px;
}
.about__company3 {
  margin-left: 42px;
}
.about__company3__text__a {
  margin-right: 10px;
}
/* ARTICLE*/
article {
 background: #f6f6f6;
 height: 608px;
 box-shadow: 1px 1px 10px;
}
.article {
  text-align: justify;
}
.article:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.main-posted {
  display: flex;
  width: 768px;
  margin: 0 auto;
}
.main {
  margin: 102px auto;
  margin-left: 1px;
  width: 400px;
}
.main__img {
 position: absolute;
 display: inline-block;
 z-index: 10;
 vertical-align: top;
 margin-left: 18px;
 margin-top: 18px;
}
/* OTZUVU */
.main__otzuv {
  display: inline-block;
  z-index: 1;
  background: #fff;
  width: 313px;
  height: 271px;
  padding: 22px 20px 22px 35px;
  text-align: left;
  margin-left: 42px;
  position: relative;
}
.main__ygol {
  display: none;
}
.main__otzuv__h2-1 {
 display: inline-block;
 font-size: 24px;
 margin-left: 4px;
 margin-top: 4px;
}
.main__otzuv__h2-2 {
  position: absolute;
  top: 55px;
  left: 40px;
  font-size: 24px;
}
.main__otzuv__p {
 font-size: 16px;
 padding-top: 31px;
 padding-left: 3px;
}
.main__otzuv__p__768 {
  display: none;
}

.article--form {
 position: absolute;
 top: 1536px;
 left: 444px;
}
.article--form label {
  background: #fff;
  border: 1px solid #e7e7e7;
}
.article--form label:last-child {
  background: url(../img/black.png) no-repeat;
}

/* POSTS */
.posted {
  margin: 127px auto auto 54px;
  width: 455px;
}
.posted__h1 {
 font-family: 'League Gothic', sans-serif;
 font-size: 30px;
 color: #000;
 font-weight: normal;
 margin-left: 4px;
}
.posted__post1 {
  margin-top: -1px;
}
.posted__post1__img1 {
 margin-top: 13px;
 margin-left: 5px;
 display: inline-block;
}
.posted__post1__text{
 display: inline-block;
 vertical-align: top;
 margin-top: 13px;
 margin-left: 13px;
}
.posted__post1__text__span1 {
 font-family: 'Open Sans Extrabold';
}
.posted__post1__text__span2 {
 font-family: 'Open Sans Light', sans-serif;
 font-weight: normal;
 line-height: 27px;
 letter-spacing: -.1px;
}
.posted__post1__text__span3 {
display: none;
}
.posted__post2 {
 margin-top: 16px;
}
.posted__post2__img2 {
 margin-left: 5px;
}
.posted__post2__text2 {
 margin-left: 13px;
 margin-top: 0px;
}
.posted__post3 {
 margin-top: 13px;
}
.posted__post3__img3 {
 margin-left: 5px;
}
.posted__post3__text3 {
 margin-top: 0px;
}
.posted__h3 {
 font-size: 19px;
 margin-top: 13px;
 margin-right: 26px;
}

.article__border {
 margin-top: 12px;
}

/* BRANDS */
.brands {
 width: 731px;
 margin: 0 auto;
 padding-top: 24px;
}

/* COMMENTS */
.comments__width {
  width: 768px;
  margin: 0 auto;
  height: 397px;
  padding-top: 99px;
}
.comments__div1,
.comments__div2,
.comments__div3,
.comments__div4,
.comments__div5 {
  display: inline-block;
  width: 230px;
  padding-left: 19px;
}
.comments__div1 {
  display: none;
}
.comments__div2 {
  display: none;
}
.comments__div3__h3 {
  font-family: 'League Gothic', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #000;
  text-align: left;
}
.comments__div3__p {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
.comments__div3__p__768 {
  display: none;
}
.comments__div4 {
  margin-left: 32px;
}
.comments__div5 {
  margin-left: 29px;
}


/* FOOTER */
.footer {
 height: 200px;
}
.footer__menu {
  width: 768px;
  margin: 0 auto;
}
.header__menu_list--footer {
  padding-top: 44px;
  width: 526px;
  display: flex;
  justify-content: space-between;
  top: 0;
  margin-top: 0;
}
.header__menu_a--footer {
  font-size: 20px;
}
.footer__p {
  font-size: 12px;
  margin: 32px auto;
  width: 768px;
  text-align: right;
  padding-right: 21px;
 }
